﻿@model WebApplication1.Models.EMPLEADO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EMPLEADO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLEADO2.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLEADO2.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_EMPLEADO.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_EMPLEADO.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO.pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO.pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VEHICULO.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VEHICULO.marca)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.nit }) |
    @Html.ActionLink("Back to List", "Index")
</p>
