﻿@model IEnumerable<WebApplication1.Models.EMPLEADO>

@{
    ViewBag.Title = "Index";
   
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLEADO2.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_EMPLEADO.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO.pass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLEADO2.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_EMPLEADO.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO.pass)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.nit }) |
            @Html.ActionLink("Details", "Details", new { id=item.nit }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.nit })
        </td>
    </tr>
}

</table>
