﻿@model WebApplication1.Models.ORDEN_DE_COMPRA

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>ORDEN_DE_COMPRA</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.fecha)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.fecha)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.estado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.estado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CLIENTE.nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CLIENTE.nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EMPLEADO.nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EMPLEADO.nombre)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
