﻿@model WebApplication1.Models.ORDEN_DE_COMPRA

@{
    ViewBag.Title = "GenerarOrden";
}

<div class="text-center align-content-center">
    <h1>Nueva Orden de Compra</h1>
</div>
<hr />


<div class="row text-center justify-content-xl-center align-content-center">
    <div class="col-md-4">
        <form action="/Home/Loguearse" method="post">
            <div class="form-group">
                <label class="control-label">Usuario</label>
                <input type="text" class="form-control" name="usuarioS" value="" />
            </div>
            <div class="form-group">
                <label class="control-label">Ingresa tu contraseña</label>
                <input type="password" class="form-control" name="password" value="" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Iniciar Sesion</button>
            </div>
        </form>
    </div>
</div>

