﻿@model WebApplication1.Models.EMPLEADO

@{
    ViewBag.Title = "GenerarOrden";
}
    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("DIPROMA", "Main2", "Empleado", new { nit = Model.nit }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Información Personal", "Index", "Empleado", new { nit = Model.nit }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Generar Ordenes De Compra", "GenerarOrden", "Empleado", new { nit = Model.nit }, new { @class = "navbar-brand" })</li>
                    <li><a href="/Empleado/Factura">Generar Facturas</a></li>
                    <li><a href="/Home/Logout">Cerrar Sesion</a></li>
                </ul>
            </div>
        </div>
    </div>

<h1>INFORMACIÓN EMPLEADO-VENDEDOR</h1>
<table class="table">
    <tr>
        <th>
            Nombre Empleado Vendedor
        </th>
        <th>
            Apellido Empleado Vendedor
        </th>
        <th>
            Fecha Nacimiento
        </th>
        <th>
            Dirección
        </th>
        <th>
            Telefono
        </th>
        <th>
            Celular
        </th>
        <th>
            Email
        </th>
        <th>
            Jefe
        </th>
        <th>
            Usuario
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            @Model.nombre
        </td>
        <td>
            @Model.apellido
        </td>
        <td>
            @Model.fechaNacimiento
        </td>
        <td>
            @Model.direccion
        </td>
        <td>
            @Model.telefono
        </td>
        <td>
            @Model.celular
        </td>
        <td>
            @Model.email
        </td>
        <td>
            @ViewBag.nombreJefe   @ViewBag.apellidoJefe
        </td>
        <td>
            @Model.idUsuario
        </td>
    </tr>

</table>

