﻿@model WebApplication1.Models.EMPLEADO
@{
    ViewBag.Title = "View";
}

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("DIPROMA", "Main2", "Empleado", new { nit = Model.nit }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Información Personal", "Index", "Empleado", new { nit = Model.nit }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Generar Ordenes De Compra", "GenerarOrden", "Empleado", new { nit = Model.nit }, new { @class = "navbar-brand" })</li>
                    <li><a href="/Empleado/Factura">Generar Facturas</a></li>
                    <li><a href="/Home/Logout">Cerrar Sesion</a></li>
                </ul>
            </div>
        </div>
    </div>

<div class="text-center align-content-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <p>Sistema de Ventas  DIPROMA</p>
</div>
<div class="text-center align-content-center">
    <img src="~/img/portada.png" alt="ASP.NET" class="img-responsive " />
</div>

