﻿
@{
    ViewBag.Title = "Login - Inicio Sesion";
}

<div class="text-center align-content-center">
    <img src="~/img/user.png" alt="ASP.NET" class="img-responsive " />

</div>
<hr />

@{
    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        //message tiene valor
        <div class="alert alert-danger">@ViewBag.Message</div>
    }

}
<div class="row text-center justify-content-xl-center align-content-center">
    <div class="col-md-4">
        <form action="/Home/Loguearse" method="post">
            <div class="form-group">
                <label class="control-label">Usuario</label>
                <input type="text" class="form-control" name="usuarioS" value="" />
            </div>
            <div class="form-group">
                <label class="control-label">Ingresa tu contraseña</label>
                <input type="password" class="form-control" name="password" value="" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Iniciar Sesion</button>
            </div>
        </form>
    </div>
</div>

